@af: #FF91AF;

body {
    background: @af;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.galleryView {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;   
    justify-content: space-around;
}

.flck-pic {
    flex: 1 0 400px;
}