@import url('https://fonts.googleapis.com/css?family=Rubik');
@af: #FF91AF;
*{
    box-sizing: border-box;
}
body {
    background: @af;
    font-family: 'Rubik', sans-serif;
}

.searchContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.galleryView {
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;   
    justify-content: space-between;
   
}

.flickrImageContainer{
    transition: linear 2s;
}

.flck-pic {
    flex: 1 0 400px;
    transition: linear 2s;
    box-shadow: 2px 2px 4px black;
    padding: 10px;
}

.flickrImageContainer.ng-enter,
.flickrImageContainer.ng-leave.ng-leave-active {
    
    opacity:0;
}

.flickrImageContainer.ng-leave,
.flickrImageContainer.ng-enter.ng-enter-active {
    opacity:1;

}

.infoDisplay {
    font-size: 2em;
    color: #fff000;
}
#flckrForm {
    padding: 30px;
}

#flckrForm input{
    box-shadow: 4px 4px 6px black;
    padding: 5px;
    margin: 10px;
    font-size: 1.2em;
    border-radius: 5px;
}
#flckrForm label {
    padding: 5px;
    margin: 10px;
    font-size: 1.2em;
}