<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ngFlickr</title>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 
    <script type="text/javascript" src="bundle.js" charset="utf-8"></script>
    <script type="text/javascript" src="myApp.js"></script>
</head>
    <body ng-app="myApp" ng-controller="myCtrl as vm">
        <div class="searchContainer">
            <h1> Flickr Search</h1>
            <form id="flckrForm" ng-submit="vm.flickrSearch(vm.textInput, vm.maxQueryReturn)">
                <input type="text" ng-model="vm.textInput" required>
                <input type="submit" value="Search">
                <label for="numberInput">Max Results: </label><input type="number"  min=1 ng-model="vm.maxQueryReturn" required>
                <p class="infoDisplay" ng-if="vm.infoDisplay"> Here are {{vm.currentSearch[1]}} results for the search term "{{vm.currentSearch[0]}}"</p>
            </form>
            <div class="galleryView">
                <div class="flickrImageContainer flck-pic" ng-repeat="item in vm.results">
                    <h1>{{item.title}}</h1>
                    <img  ng-src="https://farm{{item.farm}}.staticflickr.com/{{item.server}}//{{item.id}}_{{item.secret}}.jpg">
                </div>
            </div>
        </div>
    </body>
</html>

<!--
flickr
Key:92fc59789ddf2029562e91f4719d5ee4
Secret:50dadd08f0cf2799
-->


